/*Adobe type-kit*/
Courier Prime Bold Italic {
  font-family: courier-prime, monospace;
  font-weight: 700;
  font-style: italic;
}

Courier Prime Bold {
  font-family: courier-prime monospace;
  font-weight: 700;
  font-style: normal;
}

Courier Prime Italic {
  font-family: courier-prime, monospace;
  font-weight: 400;
  font-style: italic;
}

Courier Prime normal {
  font-family: courier-prime, monospace;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: courier-prime, monospace;
  font-weight: 700;
  font-style: italic;
}
/*css snippet typing effect */
.typing {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-effect {
  width: 38ch;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px, solid;
  font-family:Courier, monospace;
  font-size: 2em;
  animation: typing 2s steps(22), effect .5s step-end infinite alternate;
  -webkit-animation: typing 2s steps(22), effect .5s step-end infinite alternate;
}

@keyframes typing {
  from {
    width:0;
  }
  
}

@keyframes effect {
  50% {
    border-color: transparent;
  }
}
-- end of snippet --->
.container {
  display: grid;
  grid-template-columns: 8em auto 8em;
  grid-template-rows: 3em auto auto auto 3em;
}

header {
    grid-column: 1 / 4;
  }
  
  nav {
    grid-row: 2 / 5;
    grid-column: 1;
  }
  
  aside { 
    grid-row: 2 / 5;
    grid-column: 3;
  }
  
  article {
    grid-row: 2 / 5;
    grid-column: 2;
  }
  
  footer {
    grid-column: 1 / 4;
    grid-row: 5;
  }
